<h1><%= @user.name %> Page</h1>

<table>
  <tr>
    <th>Mail address:</th>
    <th><strong>Image:</strong></th>
  </th>  


  <tr>
    <td><%= @user.email %></td>
    <td><%= image_tag @user.user_image.url %></td>
    <td><%= link_to 'プロフィールを編集する', edit_user_path %></td>
  </tr>
 
</table>    

<%= link_to "Pictures list", pictures_path, class:"btn" %>