<h1>Pictures list</h1>

<table>
  <tr>
    <th>User name</th>
    <th>Image</th>
    <th>Content</th>
  </tr>


<% @pictures.each do |picture| %>
  <tr>
    <%# <td><%= picture.user.name %></td> %>
    <td><%= picture.image %></td>
    <td><%= picture.content %></td>
    <td><%= link_to '詳細を確認する', picture_path(picture.id) %>
    <td><%= link_to 'ブログを編集する', edit_picture_path(picture.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New picture post', new_picture_path %>
