<%= form_with(model: @picture, local: true) do |form| %>

  <div class="picture_image">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="picture_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <%= form.submit %>
<% end %>